 naw-menu

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
 }

 .naw-container {
 color: #000;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 135%; 
 box-sizing: border-box;
 display: flexbox;
 }

 .nav-list {
        text-align: center;
 }
 
 .naw-list-title {
color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; 
display: inline;
padding-left: 36px;
padding-right: 36px;
padding-top: 32px;
padding-bottom: 32px;
 }

 .naw-list-title-href {
 color: #000;
 text-align: center;
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 135%;
text-decoration: blink; }

  .projekts-fot {
    display: block;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
 }

 .fon {
 color: #000000;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 align-self: stretch;
 }

 /* How does CSS actually work? */

 .content {
    color: #000;
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
 }

 .content-p {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    margin-left: 110px;
    margin-bottom: 0;
    display: inline-block;
}

 .content-S {
 color: #04959E;
 font-family: Inter;
 font-size: 21px;
 font-weight: 600;
 line-height: 150%;
 display: inline-block;
 }

 .border-box {
    box-sizing: border-box;
 }

 .paragraf {
    margin-top: 0px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; 
    text-decoration: dashed;
    margin-left: 110px;
    margin-bottom: 50px;
    
 }

 .click {
 display: flex;
 padding: 10px 24px;
 justify-content: center;
 align-items: center;
 }

 .footer_div {
 color: #161616;
 text-align: right;
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 150%; 
 margin-top: 100px;
 border-top: #161616;
 }
